.products_wallets {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

.wallets_block {
    display: inline-block;
}

.wallets_info {
    max-width: 700px;
    vertical-align: top;
    background-color: rgb(37, 37, 37);
    text-align: left;
}