.content__about {
    width: 100%;
  	min-height: 90vh;
	color: #212121;
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.about_title {
    font-size: 40px;
	font-weight: bold;
    letter-spacing: 10px;
    padding-bottom: 50px;
} 

.about-block {
    display: inline-block;
    max-width: 650px;
    font-size: 30px;
    vertical-align: middle;
    text-align: left;
    font-family: 'Caveat-Regular', 'arial', sans-serif;
}

.about_description {
    position: relative;
}

.about_image img {
    border: 2px dashed white; 
}

/*.about-block_map {
    position: relative;
    margin-top: 40px;
}*/