<div class="content__about" id="about">
    <div class="about_title">
        <p>О НАС</p>
    </div>
    <div style="text-align:center" class="about_image about-block">
        <img src="assets/images/about/profile.jpg" style="max-width: 600px" alt="about_portrait">
    </div>
    <div class="about_description about-block">
        <q class="about-block_speech">
            Наша мануфактура по производству товаров из натуральной кожи была основана в 2014 году. Изначально A.M.STUFF был ориентирован только на изделия для поваров, однако мы не стоим на месте и творчески развиваемся. Сейчас нашим приоритетом по-прежнему остаются скрутки и ножны из натуральной кожи для поварских инструментов, тем не менее мы постепенно расширяем ассортимент товаров, чтобы каждый мог найти среди наших изделий полезную и надежную вещь, которая прослужит ему долгие годы. 
            Все наши изделия выполнены вручную от разработки дизайна до последнего шва, что дает гарантию эксклюзивности и настоящего качества. Каждая вещь, помимо красоты и стиля нацелена на долговечную службу и функциональность. Наши изделия уникальны и будут жить с владельцем и изменяться вместе с ним. 
            Следите за нашими обновлениями и радуйте себя и своих близких! 
            Ваша мечта ближе, чем кажется.
        </q>
        <div class="about-block--socials">
        
        </div>
    </div>
    <!--<div class="about-block_map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d71798.23005039954!2d38.43030120605468!3d55.781174272105766!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414adc22a69168b7%3A0x31a014be3698f0c9!2z0K3Qu9C10LrRgtGA0L7RgdGC0LDQu9GMLCDQnNC-0YHQutC-0LLRgdC60LDRjyDQvtCx0Lsu!5e0!3m2!1sru!2sru!4v1542300407869" width="92%" height="800px" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>-->
    <app-social></app-social>
</div>