.content__about {
    position: relative;
    background-color: black;
    color: white;
    padding: 20px 0 50px 0;
    z-index: 10;
}

.content__about:before {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 0;
    height: 1px;
    width: 80%;
    border-top: 1px solid white;
}

.about-block {
    display: inline-block;
    width: 650px;
    font-size: 30px;
    vertical-align: middle;
    text-align: left;
    font-family: 'Caveat-Regular', 'arial', sans-serif;
}

.about_description {
    position: relative;
}

.about_image img {
    border: 2px dashed white; 
}

.about-block_map {
    position: relative;
    margin-top: 40px;
}