.content__getting {
    position: relative;
    height: auto;
    background-color: rgb(44, 32, 0);
    color: white;
    padding: 20px 0 20px 0;
    z-index: 10;
}

.getting-payment--container {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.getting-delivery,
.getting-payment {
    position: relative;
    width: 400px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-right: 20px;
    z-index: 2;
}

.getting-payment {
    width: 300px;
}

.title-delivery,
.title-payment {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 30px
}

.select-delivery,
.select-payment {
    margin-bottom: 20px;
}

.content__communications {
    position: relative;
    text-align: center;
    background-color: #282944;
    color: white;
    font-size: 30px;
    padding: 20px 0 60px 0;
    z-index: 10;
}

.form,
.form-group{
    display: inline-block;
    height: 50px;
}

.form {
    width: 100%;
}

.form-group {
    padding: 0 15px 0 15px;
    text-align: left;
}

.form-control {
    width: 300px;
    height: 30px;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid gray;
    border-radius: 50px;
}

input:focus {
    background-color: white;
    border: 3px solid rgb(0, 124, 206);
}

input.ng-touched.ng-invalid{
    border-color: rgb(255, 115, 0);
}

.cross-validation-error input {
    border-left: 5px solid rgb(255, 115, 0);
}

.btn-a {
    position: relative;
    width: 200px;
    height: 60px;
}

.btn-success {
    width: 200px;
    height: 60px;
    background-color: #00415a;
    border-color: transparent;
    font-size: 20px;
    color: white;
    transition: background-color 0.5s 0s ease;
    border-radius: 50px;
    margin-top: 30px;
}

.btn-disabled {
    display: none;
}

.btn-success:hover {
    background-color: #02804b;
    cursor: pointer;
}