<div class="content__getting getting">
	<div class="getting-payment--container">
	  	<div class="getting-delivery">
	  	  	<h2 class="title-delivery title_block">
	  	  	  	ДОСТАВКА
			</h2>
	  	  	<div class="select-delivery" *ngFor="let item of deliveries">
	  	  	  	<p style="font-weight: bold;">{{ item.place }}</p>
	  	  	  	<p>{{ item.where1 }}</p>
	  	  	  	<p>{{ item.price1 }}</p>
	  	  	  	<p>{{ item.comment1 }}</p>
	  	  	  	<p>{{ item.where2 }}</p>
	  	  	  	<p>{{ item.price2 }}</p>
	  	  	  	<p>{{ item.comment2 }}</p>
	  	  	  	<p>{{ item.where3 }}</p>
	  	  	  	<p>{{ item.price3 }}</p>
	  	  	  	<p>{{ item.comment3 }}</p>
	  	  	</div>
	  	</div>
	  	<div class="getting-payment">
	  	  	<h2 class="title-payment title_block">
	  	  	  	ОПЛАТА
			</h2>
	  	  	<div class="select-payment" *ngFor="let item of payment">
	  	  	  	<p style="font-weight: bold">{{ item.how }}</p>
	  	  	  	<p>{{ item.comment }}</p>
	  	  	</div>
		</div>
	</div>
</div>

