.title-delivery,
.title-payment {
    font-weight: bold;
    font-size: 20px;
    margin: 0 20px 10px 20px;
    text-align: left;
}

.delivery,
.payment {
    position: relative;
    display: inline-block;
    width: 300px;
    vertical-align: top;
    font-size: 10px;
}

.delivery_item,
.payment_item {
    margin: 0 20px 20px 20px;
    vertical-align: top;
    text-align: left;
}

.payment_item {
    width: 40%;
}