.delivery,
.payment {
    position: relative;
    display: inline-block;
    width: 50%;
    min-width: 50vh;
    margin: 0 auto;
    padding: 100px 0 50px 0;
    text-align: center;
    vertical-align: top;
}

.delivery_item,
.payment_item {
    display: inline-block;
    max-width: 50%;
    margin: 0 30px 60px 30px;
    vertical-align: top;
    text-align: left;
}

.payment_item {
    width: 40%;
}