<div class="shop">
    <div class="shop_twists" routerLink="/products/twists" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <p>СКРУТКИ</p>
    </div>
    <div class="shop_wallets" routerLink="/products/wallets" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <p>КОШЕЛЬКИ</p>
    </div>
    <div class="shop_belts" routerLink="/products/belts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <p>РЕМНИ</p>
    </div>
    <div class="shop_covers" routerLink="/products/covers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <p>КЕЙСЫ</p>
    </div>
    <div class="shop_bags" routerLink="/products/bags" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <p>СУМКИ</p>
    </div>
</div>
