.shop {
    max-width: 100%;
    margin: 0 auto;
}

.shop > div {
    padding: 1em;
    opacity: 1;
    outline: 2px solid rgba(255,255,255,1);
    outline-offset: 0px;
    transition: opacity 0.2s 0s ease-in, outline-offset 0.15s 0s ease-in 
}
.shop > div:hover {
    opacity: 0.8;
    outline-offset: -15px;
    cursor: pointer;
}

.shop {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(30%, 300px);
    padding: 60px;
}

.shop p {
    color: white;
    margin-top: 100px;
    font-size: 40px; 
}

.shop_twists {
    grid-row: 1 / 3;
    grid-column: 1;
    background-image: url(/assets/images/shop_menu/twists.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.shop_wallets {
    grid-column: 2/4;
    grid-row: 1;
    background-image: url(/assets/images/shop_menu/wallets.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.shop_belts {
    grid-column: 2;
    grid-row: 2;
    background-image: url(/assets/images/shop_menu/belts.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.shop_covers {
    grid-row: 2;
    grid-column: 3/5;
    background-image: url(/assets/images/shop_menu/covers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.shop_bags {
    grid-column: 4;
    grid-row: 1;
    background-image: url(/assets/images/shop_menu/bracelets.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}