<div class="shop" [ngx-scroll-to]="'top'">
    <div class="shop_twists" routerLink="/products/twists" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div class="shop_item">
            <p>СКРУТКИ</p>
        </div>
    </div>
    <div class="shop_wallets" routerLink="/products/wallets" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div class="shop_item">
            <p>КОШЕЛЬКИ</p>
        </div>
    </div>
    <div class="shop_belts" routerLink="/products/belts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div class="shop_item">
            <p>РЕМНИ</p>
        </div>
    </div>
    <div class="shop_covers" routerLink="/products/covers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div class="shop_item">
            <p>КЕЙСЫ</p>
        </div>
    </div>
    <div class="shop_bags" routerLink="/products/bags" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div class="shop_item">
            <p>БРАСЛЕТЫ</p>
        </div>
    </div>
</div>
