.toilet-bags {
    width: 100%;
    text-align: left
}

.toilet-bags_block {
    display: inline-block;
    width: 400px;
    margin: 10px 0px 10px 20px;
    text-align: center;
    border: 0;
    outline: 0;
}

.toilet-bags_block:hover {
    cursor: pointer;
}

img {
    width: 400px;
}

.block_image {
    position: relative;
}

.block_image .asas {
    position: relative;
    opacity: 1;
    transition: opacity 0.2s 0s ease-in, outline-offset 0.15s 0s ease-in;
    z-index: 10; 
}

/*.toilet-bags_block:hover .asas {
    opacity: 0;
    cursor: pointer;
}*/

.block_image_background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9; 
}