<div class="toilet-bags">
    <div class="toilet-bags_gallery toilet-bags_block gallery_block">
        <ngx-gallery [options]="galleryOptions" [images]="toilet_bags"></ngx-gallery>
    </div>
    <div class="toilet-bags_info toilet-bags_block products_info_block">
        <h3>Несессеры</h3>
        <p>
            Любите путешествовать или вы тот, кто постоянно в командировках? Тогда это то, что вам нужно! Незаменимый помощник в любой поездке - 
            кожаный несессер, в который поместятся все ваши аксессуары, средства личной гигиены и электробритва. 
            Создаст порядок и защитит остальные вещи от протекания шампуня) также это отличное решение для хранения мелочей в повседневной жизни!
            Функциональный, стильный, эксклюзивный несессер из натуральной кожи не займёт много места, но существенно упростит вашу жизнь.
        </p>
        <p>
            Размеры <br>
            90ч90ч90
        </p>
        <p>
            Цена: 1000 рублей
        </p>
    </div>
</div>
