.toilet-bags {
    width: 99%;
    margin: 0 auto;
    margin-top: 50px;
}

.toilet-bags_block {
    display: inline-block;
}

.toilet-bags_info {
    max-width: 700px;
    vertical-align: top;
    background-color: rgb(37, 37, 37);
    text-align: left;
}