.social {
    position: relative;
    z-index: 10;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px; 
}

.tile {
    position: relative;
}

.tile-hover {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 0px;
    transition: height 0.3s;
    background-color: rgba(61, 61, 61, 0.8);
}

.tile-hover-text {
    opacity: 0;
    transition: opacity 0.5s;
}

.tile:hover .tile-hover {
    height: 200px;
    cursor: pointer;
}

.tile:hover .tile-hover-text {
    opacity: 1;
}

/*reviews*/
.content__reviews {
    position: relative;
    height: auto;
    color: #2b2b2b;
    padding: 20px 0 20px 0;
    z-index: 10;
}

.reviews__item {
    width: 300px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    vertical-align: top;
}

.photo-gallery img {
    width: 150px;
    height: 150px;
}

.description_review {
    text-align: left;
}

