<div class="social">
  	<div class="social_channel">
        <iframe width="70%" height="800px" src="https://www.youtube.com/embed/yH1Oh-zbUGU" frameborder="0" allowfullscreen></iframe>
    </div>

    
    


    <!--<ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carouselTileItems">
        <ngu-tile *nguCarouselDef="let item; let i = index">
            <div class="tile" style="min-height: 100px" *ngFor="let item of twists">
                <img src="{{item.image1}}" alt="" height="100px">
            </div>
        </ngu-tile>
        https://www.npmjs.com/package/@ngu/carousel?activeTab=readme
    </ngu-carousel>-->






    <ngu-carousel
      [inputs]="carouselBanner"
      (onMove)="onmoveFn($event)">
 
          <ngu-item NguCarouselItem class="bannerStyle">
              <h1>1</h1>
          </ngu-item>
 
          <ngu-item NguCarouselItem class="bannerStyle">
              <h1>2</h1>
          </ngu-item>
 
          <ngu-item NguCarouselItem class="bannerStyle">
              <h1>3</h1>
          </ngu-item>
 
          <button NguCarouselPrev class='leftRs'>&lt;</button>
          <button NguCarouselNext class='rightRs'>&gt;</button>
    </ngu-carousel>




</div>