.social {
    position: relative;
    z-index: 10;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px; 
}


/*reviews*/
.content__reviews {
    position: relative;
    height: auto;
    color: #2b2b2b;
    padding: 20px 0 20px 0;
    z-index: 10;
}

.reviews__item {
    width: 300px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    vertical-align: top;
}

.photo-gallery img {
    width: 150px;
    height: 150px;
}

.description_review {
    text-align: left;
}

