<div class="twists">
    <div class="twists_block block block_product" *ngFor="let item of twists">
        <div class="route">
            <div class="block_image">
                <img src="{{item.image1}}" alt="twist1" class="asas" draggable="false">
                <div class="block_image_background">
                    <img src="{{item.image2}}" alt="twist2" draggable="false">
                </div>
            </div>
            <div class="block_text">
                <p>{{item.description}}</p>
            </div>
            <div class="block_price">
                <p style="color:green">{{item.price}}</p>
            </div>
        </div>
    </div>
</div>