.twists {
    position: relative;
    padding: 20px 0 20px 0;
    text-align: justify;
    background-color: rgb(210, 210, 210);
}

.twists_block {
    display: inline-block;
    width: 400px;
    margin: 0px 20px 20px 0;
    text-align: center;
    border: 0;
    outline: 0;
}

.twists_block:hover {
    cursor: pointer;
}

img {
    width: 400px;
}

.block_image {
    position: relative;
}

.block_image .asas {
    position: relative;
    opacity: 1;
    /*outline: 2px solid rgb(255, 255, 255);
    outline-offset: -0px;*/
    transition: opacity 0.2s 0s ease-in, outline-offset 0.15s 0s ease-in;
    z-index: 10; 
}

.twists_block:hover .asas {
    opacity: 0;
    /*outline-offset: -10px;*/
    cursor: pointer;
}

.block_image_background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9; 
}