<div class="twists">
    <div class="twists_block block" *ngFor="let twist of twists">
        <div class="route" routerLink="/products/{{twist.url}}" routerLinkActive="active">
            <div class="block_image">
                <img src="{{twist.image1}}" alt="twist">
            </div>
            <div class="block_text">
                <p>{{twist.description}}</p>
            </div>
            <div class="block_price">
                <p style="color:green">{{twist.price}}</p>
            </div>
        </div>
    </div>
</div>