<div class="contact">
	<div class="contact_title title">
		<p>Контакты</p>
	</div>
	<div class="contact_content">
		<p>
			Напишите нам и мы ответим на все интересующие Вас вопросы:  
			<a href="mailto:nikolaev_69rus@mail.ru" target="_blank">nikolaev_69rus@mail.ru</a>
		</p>
		<div class="contact_content_phone">
			Или позвоните, будем рады: <span>+7 905 547 34 87</span>
		</div>
	</div>
	<ul class="socials">
		<li>
			<a href="https://www.instagram.com/knife.roll/" target="_blank">
				<img src="assets/images/socials/instagram_icon.png" width="40px" height="40px" alt="insta">
			</a>
		</li>
		<li>
			<a href="https://www.youtube.com/channel/UC8wbBOzimN0FoyBE1iYfNXA" target="_blank">
				<img src="assets/images/socials/youtube_icon.png" width="40px" height="40px" alt="insta">
			</a>
		</li>
		<li>
			<a href="https://vk.com/nikolaev_cuisine" target="_blank">
				<img src="assets/images/socials/vk_icon.png" width="40px" height="40px" alt="vk">
			</a>
		</li>
	</ul>
</div>
