<div class="contact">
	<div class="contact_title title">
		<p>Как cвязаться с нами?</p>
	</div>
	<div class="contact_content">
		<p>
			Напишите нам и мы ответим на все интересующие Вас вопросы:  
			<a href="mailto:draghignazzo.sss@gmail.com" target="_blank">draghignazzo.sss@gmail.com</a>
		</p>
		<div class="contact_content_phone">
			Или позвоните, будем рады: <span>+7 905 547 34 87</span>
		</div>
	</div>
</div>
			<!--<div class="contact_content_social">
				<div class="container">
					<ul class="submenu">
						<li><a href="https://www.instagram.com/knife.roll/" target="_blank">
							<p class="fa fa-instagram">
								<img src="assets/images/description/instagram_icon.png" width="40px" height="40px" alt="insta">
							</p>
						</a></li>
						<li><a href="https://www.youtube.com/channel/UC8wbBOzimN0FoyBE1iYfNXA" target="_blank">
							<p class="fa fa-youtube">
								<img src="assets/images/description/youtube_icon.png" width="40px" height="40px" alt="insta">
							</p>
						</a></li>
						<li><a href="https://vk.com/nikolaev_cuisine" target="_blank">
							<p class="fa fa-vk">
								<img src="assets/images/description/vk_icon.png" width="40px" height="40px" alt="vk">
							</p>
						</a></li>
					</ul>
				</div>
			</div>-->
