.contact {
	position: relative;
	width: 100%;
	color: #f0f0f0;
	background-color: #212121;
	text-align: center;
	padding: 20px 0 50px 0;
}

.contact_content {
	font-size: 20px;
	line-height: 30px;
} 

.contact_content a,
.contact_content span {
	color: rgb(255, 190, 0)
} 

