<div class="intro">
    <div class="intro_title title">
        <p>Кто мы такие?</p>
    </div>
    <div class="intro_logo">
        <img src="assets/images/description/logo.png" width="250px" height="250px" alt="logo">
    </div>
    <div class="intro_text">
        Наша мануфактура по производству товаров из натуральной кожи была основана в 2014 году. Изначально A.M.STUFF был ориентирован только на изделия для поваров, однако мы не стоим на месте и творчески развиваемся. Сейчас нашим приоритетом по-прежнему остаются скрутки и ножны из натуральной кожи для поварских инструментов, тем не менее мы постепенно расширяем ассортимент товаров, чтобы каждый мог найти среди наших изделий полезную и надежную вещь, которая прослужит ему долгие годы. 
        Все наши изделия выполнены вручную от разработки дизайна до последнего шва, что дает гарантию эксклюзивности и настоящего качества. Каждая вещь, помимо красоты и стиля нацелена на долговечную службу и функциональность. Наши изделия уникальны и будут жить с владельцем и изменяться вместе с ним. 
        Следите за нашими обновлениями и радуйте себя и своих близких! 
        Ваша мечта ближе, чем кажется.
    </div>
</div>
