.intro {
    position: relative;
    padding: 20px 0 50px 0;
    background-color: rgb(37, 37, 37);
    text-align: justify;
    border-top: 1px solid rgb(210, 210, 210);
    border-bottom: 3px solid rgb(148, 81, 32);
}

.intro_title {
    color: rgb(255, 190, 0);
    text-shadow: 1px 1px 2px rgb(255, 190, 0);
}

.intro_logo {
    position: absolute;
    top: 50px;
    right: 100px;
    text-align: center;
    opacity: 0.2;
    transform: rotate(20deg);
    z-index: 99;
}

.intro_logo img {
    padding: 24px;
}

.intro_text {
    position: relative;
    width: 60%;
    margin: 0 auto;
    color: rgb(210, 210, 210);
    font-size: 17px;
    line-height: 30px;
    text-indent: 50px;
    z-index: 100;
}