.different-products {
    position: relative;
    width: 100%;
    padding: 0 0 50px 0;
    text-align: center;
    margin: 0 auto;
    color: rgb(59, 59, 59);
    background-color: rgb(214, 214, 214);
    border-bottom: 1px solid rgb(59, 59, 59);
}

.different-products_container {
    padding: 20px 0 0 10px;
}

.different-products_block {
    display: inline-block;
    width: 350px;
    margin: 0px 40px 40px 0;
    text-align: left;
    background-color: rgb(232, 232, 232);
    box-shadow: 0px 0px 15px -5px rgb(0, 0, 0);
    border: 1px solid rgb(232, 232, 232);
}

.block_name,
.block_description,
.block_dimensions,
.block_price {
    padding: 0 20px;
}

.block_name p {
    min-height: 35px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(148, 81, 32);
    padding-top: 10px;
}

.block_description p {
    min-height: 140px;
    font-size: 15px;
}

.block_dimensions {
    min-height: 40px;
    font-size: 15px;
}

.block_price p {
    min-height: 30px;
    font-weight: bold;
    color: #005600;
}