<div class="home_description">
    <!--<div class="description_title">
        <img style="position: absolute;" src="assets/images/description/logo.png" width="200px" height="200px" alt="logo">
        <p>
            РУЧНАЯ РАБОТА <br> <span> НАТУРАЛЬНАЯ КОЖА </span>
        </p>
    </div>-->
    <div class="description_container">
        <slideshow #slideshow
                   [imageUrls]="slides"
                   [height]="height"
                   [minHeight]="minHeight"
                   [arrowSize]="arrowSize"
                   [showArrows]="showArrows"
                   [disableSwiping]="disableSwiping"
                   [autoPlay]="autoPlay"
                   [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
                   [debug]="debug"
                   [backgroundSize]="backgroundSize"
                   [backgroundPosition]="backgroundPosition"
                   [backgroundRepeat]="backgroundRepeat"
                   [showDots]="showDots"
                   [dotColor]="dotColor"
                   [showCaptions]="showCaptions"
                   [captionColor]="captionColor"
                   [captionBackground]="captionBackground"
                   [lazyLoad]="lazyLoad"
                   [hideOnNoSlides]="hideOnNoSlides"
                   [fullscreen]="fullscreen">
        </slideshow>
    </div>

</div>