.content__description {
    position: fixed;
    max-width: 100%;
    top: 35vh;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.content__description p {
    margin: 0 auto;
    width: 70%;
    color: rgb(255, 255, 255);
}