.description {
    position: fixed;
    width: 100%;
    height: 550px;
    margin: 0 auto;
    overflow: hidden;
    top: 0;
    left: 0;
    background-image: url(/assets/images/description/description_home.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 100%;
    background-size: cover 100%;
}

.content__description {
    position: relative;
    max-width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-top: 550px;
    background-color: rgb(219, 219, 219);
}