<div class="body_container" id="top">
	<header class="header">
		<ul class="header_menu">
			<li class="logo">
				<img style="position: relative;	top: 23px; z-index: 99;" [ngx-scroll-to]="'top'"
				src="assets/images/logo.png" width="58px" height="58px" alt="logo">
				<p class="logo_title" [ngx-scroll-to]="'top'">A.M.STUFF</p>
			</li>
			<li><p [ngx-scroll-to]="'twists'" routerLinkActive="active">Скрутки</p></li>
			<li><p [ngx-scroll-to]="'different'" routerLinkActive="active">Прочие изделия</p></li>
			<li><p [ngx-scroll-to]="'delivery'" routerLinkActive="active">Доставка и оплата</p></li>
			<li><p [ngx-scroll-to]="'contact'" routerLinkActive="active">Контакты</p></li>
			<li><a href="assets/download/pdf.pdf" download>Скачать</a></li>
		</ul>
	</header>
	<main class="main">
		<app-description id="home"></app-description>
		<app-intro></app-intro>
		<app-twists id="twists"></app-twists>
		<app-different-products id="different"></app-different-products>
		<app-delivery id="delivery"></app-delivery>
		<app-reviews id="reviews"></app-reviews>
    	<app-contact id="contact"></app-contact>
	</main>
	<footer class="footer">
		<div class="copyright">
			<p>Мануфактура "A.M.STUFF"</p>
		</div>
	</footer>
</div>

<div class="mobile">
	<p>
		МОБИЛЬНАЯ ВЕРСИЯ В РАЗРАБОТКЕ
	</p>
</div>