.header-mob {
    display: none;
}

.header {
    position: sticky;
    top: -145px;
    height: 220px;
    z-index: 100;
    background-image: url(/assets/images/background_forest.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 100%;
    background-size: cover;
}

.container__wrapper_logo {
    position: relative;
    width: 100%;
    height: 80px;
    margin: 0 20px 55px 0;
    padding: 30px 0 0 0;
}

.logo_a .left_eye {
    width: 8px;
    height: 4px;
    margin-left: 21px;
    transform: rotate(25deg);
    border-radius: 50%;
    transition: background-color 1s 0s ease, box-shadow 1s 0s ease;
    float: left;
}

.logo_a .right_eye {
    width: 7px;
    height: 4px;
    margin-left: 18px;
    transform: rotate(-25deg);
    border-radius: 50%;
    transition: background-color 1s 0s ease, box-shadow 1s 0s ease;
    float: left;
}

.eyes {
    position: absolute;
    top: 47px;
    left: 116px;
}

.logo_a:hover .left_eye,
.logo_a:hover .right_eye {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 5px #bf3211;
}

.navbar {
    list-style-type: none;
    overflow: hidden;
    margin-left: 95px;
    float: left;
}
.navbar p,
.navbar a, {
    text-decoration: none;
    font-weight: bold;
    display: block;
}
li {
    float: right;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    margin: 0 10px 0 10px;
    color: rgb(247, 247, 247);
}
li p {
    transition: color 0.5s 0s ease;
    border: 0;
    outline: 0;
}
li p:hover {
    color: rgb(136, 136, 136);
    text-decoration: underline;
    cursor: pointer;
}

.active {
    color: rgb(136, 136, 136);
    text-decoration: underline;
}

.description_site__container h2 {
    position: absolute;
    text-align: left;
    width: 100%;
    padding: 18px 0 18px 10px;
    background-color: transparent;
    font-family: 'LeArchitect', 'arial', sans-serif;
    font-size: 50px;
    letter-spacing: 3px;
    color: white;
    text-decoration: underline;
}

.main {
    position: relative;
    background-color: #ffffff;
    text-align: center;
    z-index: 1;
}

.footer {
    position: relative;
    text-align: center;
    vertical-align: bottom;
    background-color: black;
    color: white;
    height: 100px;
    font-size: 15px;
    z-index: 2;
}

.footer span {
    height: 100px; 
    line-height: 100px; 
    font-family: 'LeArchitect', 'arial', sans-serif; 
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    .header {
        display: none;
    }

    .header-mob {
        position: absolute;
        display: block;
        width: 100%;
        height: 100vh;
        background-color: #000000;
        color: wheat;
        top: 146px;
        text-align: center;
        z-index: 2;
    }

    .invisible {
        display: none;
    }
    .visible {
        display: none;
    }


    .main {
        background-size: 65%;
    }

    .main,
    .footer {
        padding-left: 0px;
    }

    .footer {
        font-size: 35px;
    }
}