<div class="body_container" id="top">
	<header class="header">
		<ul class="header_menu">
			<li class="logo">
				<img style="position: relative;	top: 23px; z-index: 99;" [ngx-scroll-to]="'top'" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
				src="assets/images/description/logo.png" width="58px" height="58px" alt="logo">
				<p class="logo_title" [ngx-scroll-to]="'top'" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">A.M.STUFF</p>
			</li>
			<li><p [ngx-scroll-to]="'products'" routerLinkActive="active">Скрутки</p></li>
			<li><p [ngx-scroll-to]="'products'" routerLinkActive="active">Несессеры</p></li>
			<li><p [ngx-scroll-to]="'products'" routerLinkActive="active">Кошельки и картхолдеры</p></li>
			<li><p [ngx-scroll-to]="'products'" routerLinkActive="active">Различные товары</p></li>
			<!--<li><p [ngx-scroll-to]="'delivery'" routerLinkActive="active">Приобретение</p></li>
			<li><p [ngx-scroll-to]="'top'" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">A.M.STUFF</p></li>-->
			<!--<li><p [ngx-scroll-to]="'contact'" routerLinkActive="active">Связаться</p></li>-->
			<!--<li><p [ngx-scroll-to]="'top'" routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">О нас</p></li>-->
			<!--<li><p [ngx-scroll-to]="'reviews'" routerLinkActive="active">Отзывы</p></li>-->
		</ul>
	</header>
	<main class="main">
		<!--<router-outlet></router-outlet>-->
		<app-description id="home"></app-description>
		<app-intro></app-intro>
    	<app-products-common id="products"></app-products-common>
    	<app-contact id="contact"></app-contact>
		<app-reviews id="reviews"></app-reviews>
	</main>
	<footer class="footer">
		<div class="acquisition">
			<div class="delivery">
				<div class="title-delivery">
					<p>
						Доставка
					</p>
				</div>
				  <div class="delivery_item" *ngFor="let item of deliveries">
						<p style="font-weight: bold;">{{ item.place }}</p>
						<p>{{ item.where1 }} {{ item.price1 }}</p>
						<p>{{ item.comment1 }}</p>
						<p>{{ item.where2 }} {{ item.price2 }}</p>
						<p>{{ item.comment2 }}</p>
						<p>{{ item.where3 }} {{ item.price3 }}</p>
						<p>{{ item.comment3 }}</p>
				  </div>
			</div>
			<div class="payment">
				  <div class="title-payment">
					<p>
						Оплата
					</p>
				</div>
				  <div class="payment_item" *ngFor="let item of payment">
						<p style="font-weight: bold">{{ item.how }}</p>
						<p>{{ item.comment }}</p>
				  </div>
			</div>
		</div>
		<!--<div class="socials">
			<div class="container">
				<ul class="submenu">
					<li><a href="https://www.instagram.com/knife.roll/" target="_blank">
						<p class="fa fa-instagram">
							
						</p>
					</a></li>
					<li><a href="https://www.youtube.com/channel/UC8wbBOzimN0FoyBE1iYfNXA" target="_blank">
						<p class="fa fa-youtube">
							
						</p>
					</a></li>
					<li><a href="https://vk.com/nikolaev_cuisine" target="_blank">
						<p class="fa fa-vk">
							
						</p>
					</a></li>
				</ul>
			</div>
		</div>-->
		<div class="copyright">
			<p>Мануфактура "A.M.STUFF", 2019</p>
		</div>
	</footer>
</div>