<div class="products-common">
    <!--<div class="shop_block--menu shop_block">
        <ul [ngx-scroll-to]="'top'">
            <li>
                <p routerLink="/products/twists" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="setTitle( 'a.m.stuff - скрутки' )">
                    СКРУТКИ
                </p>
            </li>
            <li>
                <p routerLink="/products/bags" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="setTitle( 'a.m.stuff - сумки' )">
                    СУМКИ
                </p>
            </li>
            <li>
                <p routerLink="/products/toilet_bags" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="setTitle( 'a.m.stuff - несессеры' )">
                    НЕСЕССЕРЫ
                </p>
            </li>
            <li>
                <p routerLink="/products/wallets" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="setTitle( 'a.m.stuff - кошельки' )">
                    КОШЕЛЬКИ
                </p>
            </li>
            <li>
                <p routerLink="/products/covers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="setTitle( 'a.m.stuff - кейсы' )">
                    КЕЙСЫ
                </p>
            </li>
            <li>
                <p routerLink="/products/different" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="setTitle( 'a.m.stuff - разное' )">
                    РАЗНОЕ
                </p>
            </li>
        </ul>
    </div>
    <div class="shop_block--content shop_block">
        <router-outlet></router-outlet>
    </div>-->




    <!--<ngx-gallery [options]="galleryOptions" [images]="galleryImagesTwists"></ngx-gallery>-->
    <div class="products_wallets">
        <div class="wallets_gallery wallets_block">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImagesWallets"></ngx-gallery>
        </div>
        <div class="wallets_description wallets_block">
            <h3>Кошельки</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>

    <div class="products_wallets">
        <div class="wallets_gallery wallets_block">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImagesWallets"></ngx-gallery>
        </div>
        <div class="wallets_description wallets_block">
            <h3>Кошельки</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>




</div>