<div class="products-common">
    <div class="shop_block--menu shop_block">
        <ul>
            <li><p routerLink="/products/twists" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">скрутки</p></li>
			<li><p routerLink="/products/belts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">ремни</p></li>
			<li><p routerLink="/products/bags" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">сумки</p></li>
			<li><p routerLink="/products/wallets" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">кошельки</p></li>
			<li><p routerLink="/products/covers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">кейсы</p></li>
        </ul>
    </div>
    <div class="shop_block--content shop_block">
        <router-outlet></router-outlet>
    </div>
</div>