.products-common {
    position: relative;
    height: 100%;
    min-height: 800px;
    padding: 60px;
}

.shop_block {
    display: block;
}

.shop_block--menu {
    position: sticky;
    width: 200px;
    height: 100%;
    top: 130px;
    float: left;
    border: 1px solid rgb(10, 48, 0);
    background-image: url(/assets/images/products/shop_menu.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 100%;
    background-size: cover;
    z-index: 10;
}

.shop_block--menu li {
    display: block;
    transition: background-color 1s 0s ease;
}

.shop_block--menu p,
.shop_block--menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 0;
    outline: 0;
}

.shop_block--menu li:hover,
.shop_block--menu li:hover p {
    background-color: rgb(83, 83, 83);
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.shop_block--menu li .active {
    background-color: rgb(83, 83, 83);
    color: rgb(255, 255, 255);
}

.shop_block--content {
    padding-left: 222px;
}