.products {
    position: relative;
    padding: 50px 0 0 0;
    text-align: center;
    background-image: url(/assets/images/paper.jpg);
    background-repeat: repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 40%;
}





