.content__reviews {
    position: relative;
    width: 100%;
    padding: 20px 0 100px 0;
    text-align: center;
    background-color: #d2d2c7;
}

.reviews__item {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    background-color: rgb(232, 232, 232);
    box-shadow: 0px 0px 15px -5px rgb(0, 0, 0);
}

.photo {
    float: left;
    width: 170px;
}

.image_photo {
    height: 170px;
}

.photo img {
    width: 170px;
    height: 170px;
}

.description_review {
    text-align: left;
    float: left;
    width: 255px;
    margin: 10px;
}

.description_review p {
    font-family: 'Lobster', 'arial', serif;
    color: rgb(255, 190, 0);
    font-size: 20px;
}

.description_review q {
    font-size: 14px;
    color: rgb(49, 49, 49);
}