<div class="content__reviews reviews">
	<div class="reviews_title title">
		<p>Отзывы о наших изделиях</p>
	</div>
  	<div class="reviews__item" *ngFor="let review of reviews">
  	  	<div class="reviews__item--block photo-gallery">
  	  	  	<div class="image_photo">
  	  	  	  	<img src="{{review.photo}}" alt="photo">
  	  	  	</div>
  	  	</div>
  	  	<div class="product_review--block description_review">
			<p style="padding: 10px 0 10px 0; text-align: center">
				{{ review.name }}
			</p>
  	  	  	<q>
  	  	  	  	{{ review.description }}
			</q>
		</div>	
  	</div>
</div>
