* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'RobotoSlab', 'arial', serif;
    background-color: #000000;
    min-width: 1000px;
}

a {
    color: #fff;
}

@font-face {
    font-family: RobotoSlab;
    src: url(assets/fonts/RobotoSlab-Regular.ttf);
}

@font-face {
  font-family: Lobster;
  src: url(assets/fonts/Lobster-Regular.ttf);
}

@font-face {
    font-family: Army;
    src: url(assets/fonts/Army_Wide.ttf);
}

.app-root__load {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden; 
}

.app-root__load p {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.app-root__load img {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.logo {
    z-index: 2;
    animation: 1s linear 0s normal none infinite running front;
    -webkit-animation: 1s linear 0s normal none infinite running front;
}

.title {
  position: relative;
  width: 100%;
  font-size: 50px;
  font-family: 'Lobster', 'arial', serif;
  text-align: center;
  color: rgb(37, 37, 37);
  text-shadow: 1px 1px 2px rgb(37, 37, 37);
}

.products_info_block h3 {
	color: rgb(255, 190, 0);
}

.products_info_block p:nth-child(2) {
    text-align: justify;
    color: rgb(255, 255, 255);
}
.products_info_block p:nth-child(3) {
    padding-top: 20px;
    color: rgb(255, 255, 255);
}
.products_info_block p:nth-child(4) {
	padding-top: 10px;
	font-family: 'Lobster', 'arial', serif;
  	font-size: 25px;
  	color: rgb(255, 255, 255)
}

@keyframes front {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
}
}
@-webkit-keyframes front {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
}