<div class="belts">
    <div class="belts_title title">
        <p>Ремни</p>
    </div>
    <div class="belts_container">
        <div class="belts_block block" *ngFor="let item of belts">
            <div class="block_image">
                <ngx-gallery [options]="galleryOptions" [images]="item.images"></ngx-gallery>
            </div>
            <div class="block_name">
                <p>{{item.name}}</p>
            </div>
            <div class="block_description">
                <p>{{item.description}}</p>
            </div>
            <div class="block_price">
                <p>{{item.price}}</p>
            </div>
        </div>
    </div>
</div>
