.belts {
    position: relative;
    padding: 20px 0 50px 0;
    background-color: rgb(37, 37, 37);
    text-align: justify;
}

.belts_title {
    color: rgb(255, 190, 0);
    text-shadow: 1px 1px 1px rgb(255, 190, 0);
}