.different-products {
    text-align: left;
}

.different-products_block {
    display: inline-block;
    width: 400px;
    margin: 0px 20px 20px 0;
    text-align: center
}

img {
    width: 400px;
}