.different-products {
    position: relative;
    width: 100%;
    padding: 20px 0 20px 0;
    text-align: center;
    margin: 0 auto;
    color: rgb(59, 59, 59);
    background-color: rgb(210, 210, 210);
    background-image: url(/assets/images/paper.jpg);
    background-repeat: repeat;
    background-size: 40%;
}

.different-products_container {
    padding: 20px 0 0 10px;
}

.different-products_block {
    display: inline-block;
    width: 350px;
    margin: 0px 20px 20px 0;
    text-align: left;
    background-color: rgb(255, 255, 255);
}

.block_name,
.block_description,
.block_price {
    padding: 0 20px;
}

.block_name p {
    min-height: 30px;
    font-weight: bold;
    font-size: 20px;
    color: green;
}

.block_description p {
    min-height: 100px;
}

.block_price p {
    min-height: 30px;
    font-weight: bold;
    color: green;
}